<!DOCTYPE html>
<html lang="en">
<head>
	<title>First Information Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->

<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util2.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main2.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method = "POST">
				<span class="contact100-form-title">
					First Information Report
				</span>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
					<span class="label-input100">First Name *</span>
					<input class="input100" type="text" name="name" placeholder="Enter Your First Name">
				</div>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
					<span class="label-input100">Last Name *</span>
					<input class="input100" type="text" name="name" placeholder="Enter Your Last Name">
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">FIR No *</span>
					<input class="input100" type="text" name="email" placeholder="Enter 7 digit FIR Number ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Phone</span>
					<input class="input100" type="text" name="phone" placeholder="Enter 10 digit Phone">
				</div>
	
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Employment</span>
					<input class="input100" type="text" name="phone" placeholder="Enter Employment">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Field Interview Score</span>
					<input class="input100" type="text" name="phone" placeholder="Enter Field Interview Score">
				</div>

				<div class = "wrap-input100">
					<span class ="label-input100">Select as Applicable</span>
					<input type = "radio", value = "Drugs" name = "influence"><label for="Drugs"> Political</label>
					<input type = "radio", value = "Alcohol" name = "influence"><label for="Alcohol"> Repeated Offender</label>
					<input type = "radio", value = "Gun" name = "danger"><label for="Gun"> Normal Citizen</label>
					<input type = "radio", value = "Gang" name = "danger"><label for="Gang"> Gang member</label>
				</div>
				<div>Enter crime location</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Latitude</span>
					<input class="input100" type="text" name="latitude" placeholder="Enter Latitude">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Longitude</span>
					<input class="input100" type="text" name="longitude" placeholder="Enter Longitude">
				</div>

				<div id ="crime">
					<div class="wrap-input100 bg1">
					<span class="label-input100">Offense in brief</span>
					<button class="btn-lg btn-primary btn-sm right " name = "add" id ="add">Add crime</i></button>
					<input class="input100" type="text" name="crime">
				</div>
					
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div> 
	</div>



<!--===============================================================================================-->
	
<!--===============================================================================================-->

<!--===============================================================================================-->
<script>

		$(document).ready(function() {
    var wrapper = $("#crime");
    var add_button = $("#add");

    $(add_button).click(function(e) {
        e.preventDefault();
        console.log('Smit')
            $(wrapper).append('<div class="wrap-input100 bg1"> <span class="label-input100">Offense in brief</span><input class="input100" type="text" name="crime"></div>')
    });
}); 


</script>

	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>
